@import '../../App.scss';

.products{
    color: #fff;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    .title-container{
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        width: 100%;
        background-image: url('../../assets/products-top-svg.svg');
        .title{
            font-weight: 400;
            font-size: 2rem;
            
        }
}
}