@import url("https://api.fontshare.com/v2/css?f[]=general-sans@200,500,300,600,400,700&display=swap");

* {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 line-height: 1.6;
 font-weight: 400;
 font-family: 'General Sans', sans-serif;
}

li{
  list-style: none;
}

